@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

img:hover {
  scale: 102%;
}

/* Styling keseluruhan scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Lebar scrollbar (untuk vertical) */
  height: 10px;
  /* Tinggi scrollbar (untuk horizontal) */
}

/* Styling bagian scroll thumb */
::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
}

/* Styling bagian jalur scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Warna track */
  /* border-radius: 10px;       Bentuk track */
}

/* Styling sudut scrollbar (untuk overflow-x dan overflow-y) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}


.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffc639 95%, #0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #E4E4ED 0);
  animation: s9 2s infinite linear;
}

section {
  background-image: url("https://pbs.twimg.com/media/GYaW7b-a4AA-D6a?format=png&name=small");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

@keyframes s9 {
  to {
    transform: rotate(1turn)
  }
}